.breadcrumb-area {
  width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  display: block;
  min-height: 260px;
}

.breadcrumb-center.breadcrumb-area::before {
  content: "";
  position: absolute;
  left: 0;
  top: 67%;
  width: 100%;
  height: 1px;
  transform: translate(0%, -50%);
}

.breadcrumb-area:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-black);
  opacity: 0.8;
  transition: var(--bs-transition);
  z-index: -1;
  background-color: #000000;
  opacity: 0.8;
}

.breadcrumb-area {
  min-height: 260px;
}

.breadcrumb-heading {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  max-width: 50%;
  position: relative;
}

.breadcrumb-center .breadcrumb-heading {
  text-align: center;
  max-width: 100%;
  padding-top: 101px;
}

.heading-text-container {
  font-weight: bold;
  color: #999999;
  font-size: larger;
  padding-left: 1rem;
  padding-right: 1rem;
}

.connect-wallet {
  right: 0;
  position: absolute;
}

.connect-wallet-button {
  cursor: pointer;
}
