/* .main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 3;
}

@media (min-width: 992px) {
  .main-header {
    background: none;
    position: absolute;
    top: auto;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
  }
}

.navigation-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 101px;
  background: transparent;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} */
